  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }


#title-logo{
  height: 60px;
  width: 150px;
  /* padding: 5px; */
  /* padding-right: 15px; */
}

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;
  margin-top: 20px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #fcfafb; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  /*nav*/
  nav{
    margin-bottom: 0;
  }
  .navbar {
      /* padding-top: 15px; */
      /* padding-bottom: 15px; */
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      z-index: 100;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }


.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
  z-index: 50;
}

/* Memebership */
#membership-video{
	padding-top: 30px;
}
#membership-heading{
	padding: 20px;
}
#membership-content{
	padding-right: 20px;
	padding-left: 20px;
}
#membership-link{
	padding: 15px;
	background-color: #da1050;
	color: white;
}

/* Footer */
#footer{
	width: 100%;
	margin: 0;
	padding: 15px;
}
.footer-title{
	color: #fff;
	font-size: 17px;
}
.footer-content{
	color: #8f8f8f;
	font-size: 12px;
}

/* Execom */
#execom-row{

  padding-bottom: 20px;
}
#execom-item{
  margin-bottom: 10px;
  margin-top: 10px;
  /*border: 2px solid grey;*/
  /*border-radius: 5px;*/
}
#execom-item > img {
  height: 250px;
}

#gallery{
  height: 50%;
  padding: 10px;
}
article{
  text-align: justify;

}
#article-text{
  margin: auto;
  padding: 20px;
  background-color: #EEEEEE;
}
iframe {
  width: 80%;
}
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#999;
  margin-top: 10px;
  margin: auto;
}
#execom-item:hover{
  color: green;
}
frameset{
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: auto; 
  -webkit-overflow-scrolling:touch;
  border: solid black 1px;
} 
frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}